body {
    font-family: Arial, sans-serif; 
    font-size: small;
    background-color: #f0f0f0; /* Cor de fundo cinza */
    
}

.container {
    display: flex;
    flex-direction: column;
}

.box {
    border: 1px solid #ffffff;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    background-color: #ffffff; /* Cor de fundo cinza */
    border-radius: 10px; /* Bordas arredondadas */
    
    
    
    
}

.box h1 {
    margin: 10;
}

.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

header, main, footer {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
    margin-top:50px;
}


@media screen and  (min-width: 600px){

    body {
        font-family: Arial, sans-serif;
        text-align: center;
        font-size: small;
        
    }
    
}


